name: rust-next

permissions:
  contents: read

on:
  schedule:
  - cron: '1 1 1 * *'
  workflow_dispatch:

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  CLICOLOR: 1

jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        rust: ["stable", "beta"]
        include:
        - os: ubuntu-latest
          rust: "nightly"
    continue-on-error: ${{ matrix.rust != 'stable' }}
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install Rust
      env:
        RUST: ${{ matrix.rust }}
      shell: bash  # Use `bash` on all OSes, for `$` expansion and `set -e` behavior.
      run: |
        rustup update "$RUST"
        rustup default "$RUST"
    - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
    - name: Default features
      run: cargo test --workspace
    - name: All features
      run: cargo test --workspace --all-features
    - name: No-default features
      run: cargo test --workspace --no-default-features

  latest:
    name: "Check latest dependencies"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install Rust
      run: |
        rustup update stable
        rustup default stable
    - name: Update dependencies
      run: cargo update
    - name: Default features
      run: cargo test --workspace --all-targets
    - name: All features
      run: cargo test --workspace --all-targets --all-features
    - name: No-default features
      run: cargo test --workspace --all-targets --no-default-features
